.sendForm {
    align-items: flex-end;
}

.textarea {

}

.button {
    width: 120px;
    height: 40px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    border-radius: 20px;
}

.button:hover {

}
.button:active {

}
